@font-face {
   font-family: 'AddingtonCF-Thin';
   font-display: swap;
   src: url('AddingtonCF-Thin/font.ttf');
}
@font-face {
   font-family: 'VisbyCF-Bold';
   font-display: swap;
   src: url('VisbyCF-Bold/font.ttf');
}
