@font-face {
   font-family: 'AddingtonCF-Thin';
   font-display: swap;
   src: url('file:///Users/alexcastro/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2023-01-28_182459/fonts/AddingtonCF-Thin/font.ttf');
}
